/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Cabin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#backdrop, #blurFade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#backdrop {
  background-image: image-url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#blurFade {
  background: #000000;
  opacity: 0.7;
}

.titlebar {
  background: #4A148C;
  color: #ffffff;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

.subtitle {
  margin-top: 5px;
  font-size: 22px;
}

.logo {
  width: 30%;
  margin-left: -5%;
}

.taylr-cta {
  background: #4A148C;
  color: #ffffff;
}

.taylr-cta:hover {
  background: #300467;
  color: #ffffff;
}

.showing {
  display: block;
}
